<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <span class="card-icon">
        <i class="flaticon2-chat-1 text-primary"></i>
      </span>
      <h3 class="card-label">Card Toolbar
      <small>sub title</small></h3>
    </div>
    <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-icon btn-light-danger mr-2">
        <i class="flaticon2-drop"></i>
      </a>
      <a href="#" class="btn btn-sm btn-icon btn-light-success mr-2">
        <i class="flaticon2-gear"></i>
      </a>
      <a href="#" class="btn btn-sm btn-icon btn-light-primary">
        <i class="flaticon2-bell-2"></i>
      </a>
    </div>
  </div>
  <div class="card-body">{{data.name}}</div>
</div>

<ul *ngIf="data.border.length>0" class="dashboard-tabs nav nav-pills nav-danger row row-paddingless m-0 p-0 flex-column flex-sm-row" role="tablist">

<button *ngFor="let item of data.borders" style="background-color:  rgba(90, 250, 194,0.8);">{{item}}</button>
</ul>

