<!-- 
<app-header-mobile></app-header-mobile>

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <div id="kt_header" class="header header-fixed" style="background-color: rgba(107, 242, 97,0.5); ">
                <div class="container d-flex align-items-stretch justify-content-between" style="min-width: 100% ">
                    <div class="d-flex align-items-stretch mr-3">
                        <app-header-desktop class="displayNormal" [role]="'old-student'" [actif]="'Carte'"></app-header-desktop>
                     
                    </div>
        
                </div>
            </div>
   
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="min-height: 100vh !important;">                     
            

    
              

            </div>
      
            <app-footer></app-footer>
        </div>
    </div>
</div>
  -->
  <!-- <router-outlet></router-outlet> -->
  <app-guillon></app-guillon>