<!-- <app-feed></app-feed> -->
<!-- <p>{{dominikstring}}</p> -->

<!-- <p *ngFor="let item of array">{{item.user}}</p> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-guillon></app-guillon> -->
<div class="fab" id="fab-example" data-ax="fab">

  <!-- Here is the fab-trigger -->
  <button class="btn shadow-1 circle large secondary fab-trigger">
    <i class="fas fa-plus" aria-hidden="true"></i>
  </button>

  <!-- Here is the fab-menu -->
  <div class="fab-menu">
    <button class="btn shadow-1 circle orange dark-1 txt-white fab-item mb-3">
      <i class="fas fa-pen" aria-hidden="true"></i>
    </button>
    <button class="btn shadow-1 circle red fab-item mb-3">
      <i class="fas fa-paper-plane" aria-hidden="true"></i>
    </button>
    <button class="btn shadow-1 circle primary fab-item mb-3">
      <i class="fas fa-download" aria-hidden="true"></i>
    </button>
  </div>
</div><!-- <div class="grix xs1 sm3">
  <div class="spinner small txt-red">
    <svg viewBox="25 25 50 50">
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
    </svg>
  </div>
  <div class="spinner txt-viride">
    <svg viewBox="25 25 50 50">
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
    </svg>
  </div>
  <div class="spinner large txt-airforce">
    <svg viewBox="25 25 50 50">
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke-width="3" />
    </svg>
  </div>
</div> -->
