<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
           <app-header-desktop></app-header-desktop>
       <app-header-mobile></app-header-mobile>
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="min-height: 100vh !important;">




                <router-outlet></router-outlet>



            </div>

            <app-footer></app-footer>
        </div>
    </div>

</div>
