<div layout="column" style="width : 70%; height: 500px;overflow: scroll;margin: auto;">
    <div class="col-xl-6" style="margin: auto;height: auto;margin-top: 2%;" *ngFor="let feed of feedActuality.feed">
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                        </div>
                        <div class="ml-2">
                           
                            <a class="card-link" href="#">{{feedActuality.name}} {{feedActuality.firstname}}</a>
                        </div>
                    </div>
                    <div>
                      
                    </div>
                </div>

            </div>
            <div class="card-body" style="height: 100%;">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
              

                <p class="card-text">
                                {{feed.post.content}}
                           
                </p>
            </div>
            <div  style="height: 50px;width: 100%; display: flex;flex-direction: row;">
                <button _ngcontent-qwn-c14="" class="btn btn-light btn-icon btn-lg" style="margin-left: 2%;background-color: rgba(107, 242, 97,0.2)"  type="button"> <i class="icon-2x text-dark-50 flaticon-like " style="margin-left: 2%;"></i></button> 
                   
                <button _ngcontent-qwn-c14="" class="btn btn-light btn-icon btn-lg" style="margin-left: 2%;background-color: rgba(107, 242, 97,0.2)" type="button"> <i class="icon-2x text-dark-50 flaticon-chat "style="margin-left: 2%;"></i></button>
                    
                <input style="margin-left: 2%;margin-right: 5%;" type="text" class="form-control" placeholder="laissez un commentaire">

            </div>
           <div style="align-self: center;" *ngIf="feed.post.coment.length<1"><span _ngcontent-fvr-c9="" class="text-muted font-weight-bold d-block">Aucun commentaire !</span></div>
           <div class="card-body" *ngIf="feed.post.coment.length>0">
           
               <p *ngFor="let coment of feed.post.coment">{{coment.text}}</p>
        </div>
        </div>    </div>
</div>
